/packages/*/

EasySound.suo
EasySound.Tests/bin/
EasySound.Tests/obj/
EasySound.Tests/*.user

EasySound.Console/bin/
EasySound.Console/obj/
EasySound.Console/*.user

EasySound/bin/
EasySound/obj/
EasySound/*.user

_ReSharper.EasySound/
/EasySound.v12.suo
